@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


.navigation {
    display: none;
    background: black;
    a {
        text-decoration: none;
        color: #fff;
    }

    span {
        color:aqua;
    }

    img {
        width: 9%;
        margin-left: .8em;
    }

    ul {
        display: flex;
        width: 80%;
        padding-top: 1em;
    }

    li{
        list-style-type: none;
        display: block;
        padding: .8em;
        text-transform: uppercase;
        font-weight: bold;
        color: #fff;
        letter-spacing: .2em;

        a 
            &:hover {
            font-weight:bolder;
            color:aqua;
        }
    }
}


body {
    background: rgb(41, 40, 40);
   

    .only {
        text-align: center;
        margin-top: 4em;
        color:white;
    }

    .image {
        display: none;
    }

    h5 {
        font-size: 1.3em;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        color: rgb(231, 231, 231);
        margin-bottom: -.2em;
    }

}

.hero {
    width: auto;
    text-align: center;
    img {
        width: 340px;
        height: 360px;
        border-radius: 50%;
        margin-top: 2em;
    }
}

.bio {
    width: auto;

    h2 {
        text-align: center;
        color: white;
        margin-top: 2em;
        font-family: 'Courier New', Courier, monospace;
    }

    .text {
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background: rgb(94, 89, 89) ;
        padding: 1em;
        border-radius: 3px;
        color: #fff;
        align-content: center;
        b {
            color :aqua
        }
        p {
            padding: .3em;
            
        }
    }

   .socials {
       display: block;
       padding-top: 2em;
       text-align: center;
       //padding-left: 4em;
       cursor: pointer;

       img {
           justify-items: center;
       }
     

       .icon {
        width: 40px;
        height: 40px;
        border: 1px solid rgb(158, 157, 157);
        margin-left: 1em;
        border-radius: 50%;
        background: rgb(189, 171, 171);
        cursor: pointer;
        }
    }
}

.ex {
        
    background-color:  rgb(94, 89, 89);
    padding: 1em;
    margin-top: 3em;
    border-radius: 2px;
    text-align: center;
    p {
        color:rgb(211, 206, 206);
        font-size: 120%;
        font-style: italic;

        mark {
            font-weight: bold;
            background: rgb(172, 167, 167);
        }
    }
}

footer {
    color: white;
    text-align: center;
    height: 5em;
    a {
        text-decoration: none;
    }

    .botton {
        display: block;
        color:white;
        margin: 1em;
        padding: .5em;
        background: rgb(126, 235, 18);

        border-radius: 10px;
    }
}


@media only screen and (min-width: 747px) { 
    .navigation {
        display: flex;
        background: black;
        a {
            text-decoration: none;
            color: #fff;
            &:hover {
                font-weight:bolder;
                color:aqua;
        }
    

          span {
            color:aqua;
        }

       figure {
           width: 100%;
           img {
            width: 8%;
            margin-left: .8em;
            padding-top: 5px;
        }

       }

        ul {
            display: flex;
            width: 80%;
            padding-top: 1em;
        }

        li{
            list-style-type: none;
            display: block;
            padding: .8em;
            text-transform: uppercase;
            font-weight: bold;
            color: #fff;
            letter-spacing: .2em;

            a 
             &:hover {
                font-weight:bolder;
                color:aqua;
            }
        }
}
    }

    .hero {
        width: 100%;
        text-align: center;
        img {
            width: 450px;
            height: 450px;
            border-radius: 50%;
            margin-top: 2em;
        }



    }

    .text {
        
        text-align: center;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        background: rgb(94, 89, 89) ;
        padding: 1em;
        border-radius: 3px;
        color: #fff;
        line-height: 170%;
        align-content: center;
        margin-right: 7em;
        margin-left: 7em;
    }

    .socials {

        display: block;
        padding-top: 2em;
        text-align: center;
        //padding-left: 4em;
        cursor: pointer;
 
        img {
            margin-top: 2em;
            justify-items: center;
        }
    }

    .experience {

        img {
            width: 300px;
        }

        .image {
            display: block;
            margin-top: 2em;
        }

        .ex {
            margin-left: 7em ;
            margin-right: 7em ;
        }

    }

    footer {
        .botton {
           margin-left: 15em;
           margin-right: 15em;
        }
    }
}

@media only screen and (min-width: 960px) {

    .experience {
        
        .ex {
            display: inline-flex;
            justify-content: space-between;
            margin-left: .5em;
            margin-right: .5em;
            align-content: center;
            height: 200px;
            //padding-top: 2em;
        }

        img {
            height:170px ;
            padding-top: -2em;
            width: 20em;
        }

        p {
            width: 35%;
            padding-top: 2em;
        }

        h5 {
            padding-top: 2em;
            width: 25%;
        }
        
    }

    footer {
        .botton {
           margin-left: 20em;
           margin-right: 20em;
        }
    }
}

@media only screen and (max-width: 280px) {
    .hero {
        width: 100%;
        text-align: center;
        img {
            width: 240px;
            height: 260px;
            border-radius: 50%;
            margin-top: 2em;
    }    
        }
}

